/**
 *  PB&Js | pb.core.js
 *  Author: Patrick Barnum
 *  Description: Core functionality and namespace creation for the PB&Js suite
 *  License: NULL
 */
/**
 *  Imports
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 *  Variables
 */
/**
 *  Extends
 */
.border-radius, .code button.runButton {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px; }

html, body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400; }

h1 {
  font-size: 36px; }
  h1 .title {
    display: table;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc; }

.mainTable {
  width: 100%; }
  .mainTable tbody td {
    width: 50%;
    padding: 5px 10px 30px 0; }
  .mainTable tbody td:first-child {
    border-right: 1px solid #cccccc; }
  .mainTable tbody td:last-child {
    width: 50%;
    padding: 5px 10px;
    border-right: none; }

.mainList {
  padding: 5px 0px 0px 5px; }
  .mainList li:before {
    content: "\2612"; }

.optionTable {
  width: 100%; }
  .optionTable tbody td {
    vertical-align: middle;
    padding: 5px 10px;
    border: 1px solid #cccccc !important;
    border-collapse: collapse; }

.noPadLeft {
  padding-left: 0 !important; }

.br {
  height: 100px; }

.titleBar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  border-bottom: 2px solid #000000; }

.mainTitle {
  margin-top: 15px; }

div.title {
  display: block;
  margin-bottom: 5px;
  font-size: 24px; }

.download {
  margin: 15px; }
  .download a {
    text-decoration: none; }
  .download a:hover {
    color: #00cc00; }

.content {
  width: 1024px;
  margin: 40px auto; }

.footer {
  border-top: 1px solid #cccccc;
  padding: 10px 0px; }

.snippet {
  background-color: #dddddd; }

.code {
  font-family: "Courier New", Courier, monospace; }
  .code .language {
    background-color: #eeeeee;
    display: block;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 800;
    border-bottom: 2px solid #000000; }
  .code .snippet {
    padding: 5px 10px;
    cursor: copy;
    font-size: 14px;
    line-height: 16px;
    min-height: 40px;
    cursor: copy; }
  .code button.runButton {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    background-color: #ffffff;
    float: right;
    padding: 2px 5px;
    border: 1px solid #000000; }
  .code button.runButton:hover {
    background-color: #cccccc;
    color: #cc0000; }
