/**
 *  PB&Js | pb.core.js
 *  Author: Patrick Barnum
 *  Description: Core functionality and namespace creation for the PB&Js suite
 *  License: NULL
 */

/********************************************
 *  Extends
 ********************************************/
.center {
  margin: inherit auto;
}

.border-radius {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

/********************************************
 * Main theme
 ********************************************/

html, body {
  height: 100%;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-normal;
  background-color: $color-background;
}

h1 {
  font-size: 36px;

  .title {
    display: table;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid $color-lightgray;
  }
}

.container {
  width: $width-container;
  @extend .center;
  margin: 40px auto;
  // background-color: $color-background;
}

.layout-table {
  width: 100%;
  margin-bottom: 40px;

  > tbody > tr > td {
    width: 50%;
    padding: 5px 10px 30px 0;
  }

  > tbody > tr > td:first-child {
    border-right: 1px solid $color-gray;
  }

  > tbody > tr > td:last-child {
    padding: 5px 10px;
    border-right: none;
  }
}

.mainList {
  padding: 5px 0px 0px 5px;
  
  li:before {
    content: "\2612";
  }
}

.optionTable {
  width: 100%;

  > tbody > tr > td {
    vertical-align: middle;
    padding: 5px 10px;
    border: 1px solid $color-gray !important;
    border-collapse: collapse;
  }
}

.noPadLeft {
  padding-left: 0 !important;
}

.br {
  height: 100px;
}

.titleBar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-white;
  text-align: center;
  border-bottom: 2px solid $color-black;
}

.mainTitle {
  margin-top: 15px;
}

div.title {
  display: block;
  margin-bottom: 5px;
  font-size: 24px;
}

.download {
  margin: 15px;

  a {
    text-decoration: none;
  }

  a:hover {
    color: #00cc00;
  }
}

.footer {
  border-top: 1px solid $color-lightgray;
  padding: 10px 0px;
}

.code {
  font-family: $font-code;

  button.runButton {
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    background-color: $color-white;
    float: right;
    padding: 2px 5px;

    @extend .border-radius;
    border: 1px solid $color-black;
  }

  button.runButton:hover {
    background-color: $color-lightgray;
    color: #cc0000;
  }
}

.snippet {
  @extend .code;
  background-color: $color-lightgray;
  border: 1px solid $color-gray;
}

.code-block {
  @extend .snippet;
  border-top: none;
  cursor: copy;
  padding: 5px 10px;
  min-height: 40px;
  line-height: 16px;
  font-size: 14px;
}

.code-line {
  @extend .snippet;
  padding: 2px 3px;
}

.code-language {
  background-color: #eeeeee;
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 800;
  color: "red";
  border-bottom: 2px solid $color-black;

  @import "partials/language/javascript";
}
